In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('/run/determined/workdir/jiayanglyu/EasyRL/data/rl_train.parquet')
df

,data_source,prompt,ground_truth
0,train-math-numinamath1.5_olympiads,[{'content': '33. How many six-digit numbers a...,15625
1,train-math-deepscaler,[{'content': 'Each of 8 balls is randomly and ...,\frac{35}{128}
2,train-math-deepscaler,[{'content': 'Five people are crowding into a ...,240
3,train-math-numinamath1.5_olympiads,"[{'content': '32. As shown in the figure, rays...",15
4,train-math-deepscaler,[{'content': 'How many integers from 1 through...,1295
...,...,...,...
9669,train-math-numinamath1.5_cn_contest,[{'content': '4. In the acute triangle $\trian...,120^{\circ}
9670,train-math-numinamath1.5_olympiads,"[{'content': '24. The numbers $a, b, c$ satisf...","0,-1,-2"
9671,train-math-numinamath1.5_olympiads,[{'content': 'Condition of the problem Calcul...,3
9672,train-math-deepscaler,[{'content': 'The graph of $y = f(x)$ is shown...,f(4 - x)
9673,train-math-deepscaler,[{'content': 'Given that the three interior an...,\frac{3+ \sqrt{3}}{4}

In [6]:
df = pd.read_parquet('/run/determined/workdir/jiayanglyu/EasyRL/data/rl_valid.parquet')
df

,prompt,ground_truth,extra_info
0,[{'content': 'Every morning Aya goes for a $9$...,204,"{'data_source': 'aime24', 'pass@k': 8}"
1,[{'content': 'There exist real numbers $x$ and...,025,"{'data_source': 'aime24', 'pass@k': 8}"
2,[{'content': 'Alice and Bob play the following...,809,"{'data_source': 'aime24', 'pass@k': 8}"
3,[{'content': 'Jen enters a lottery by picking ...,116,"{'data_source': 'aime24', 'pass@k': 8}"
4,[{'content': 'Rectangles $ABCD$ and $EFGH$ are...,104,"{'data_source': 'aime24', 'pass@k': 8}"
...,...,...,...
2904,[{'content': 'Let $T=10$. Susan flips a fair c...,16,"{'data_source': 'olympiad_bench', 'pass@k': 1}"
2905,[{'content': 'Let $T=1$. Dennis and Edward eac...,10,"{'data_source': 'olympiad_bench', 'pass@k': 1}"
2906,[{'content': 'Let T be a rational number. Comp...,1,"{'data_source': 'olympiad_bench', 'pass@k': 1}"
2907,[{'content': 'Let $T=11$. Compute the value of...,14,"{'data_source': 'olympiad_bench', 'pass@k': 1}"
2908,[{'content': 'The sum of the interior angles o...,11,"{'data_source': 'olympiad_bench', 'pass@k': 1}"

In [7]:
data_source_set = set()
for row in df.itertuples():
    if row.extra_info['pass@k'] == 8:
        data_source_set.add(row.extra_info['data_source'])
    
data_source_set

{'aime24', 'aime25', 'amc'}